html, body {
    margin: 1em 2ex 2em;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 10pt;
}

body {
    position: absolute;
}

h1, h2, h3, h4, h5, h6, th {
    text-transform: capitalize;
}

h1 {
    font-size: 170%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 140%;
}

h4 {
    font-size: 130%;
}

h5 {
    font-size: 120%;
}

h6 {
    font-size: 110%;
}

.highlight {
    background-color: #E8EEF7;
    border: 1px solid #C3D9FF;
    padding: 5px;
    font: 10pt Arial, sans-serif;
}

.highlight .literal, .highlight-section .literal {
    color: #066;
}

.highlight .keyword, .highlight-section .keyword {
    color: #008;
}

.highlight .constant, .highlight-section .constant {
    color: #606;
}

.highlight .quote, .highlight-section .quote {
    color: #080;
}

.highlight.specification .literal,
.highlight.specification .keyword,
.highlight.specification .constant,
.highlight.specification .quote,
.highlight-section .literal,
.highlight-section .keyword,
.highlight-section .constant,
.highlight-section .quote
{
    font-weight: bold;
}

pre.test-not-run, .test-not-run, .interestingGiven {
    background-color: #FFF4CC;
    border: 2px solid #FFBB66;
}

.interestingGiven {
    padding: 0 2px;
}

pre.test-failed, .test-failed {
    background-color: #FFF6FF;
    border: 2px solid #FDA8A8;
}

pre.test-passed, .test-passed {
    background-color: #F2FFEE;
    border: 2px solid #A5DDAD;
}

li.test-not-run, li.test-passed {
    border: none;
}

ul.contents a {
    text-transform: capitalize;
}

a, table a {
    color: #660066;
    text-decoration: none;
}

a:hover, table a:hover {
    text-decoration: underline;
}

table {
    background-color: #F5F9FD;
    border: 1px solid #C3D9FF;
    border-collapse: collapse;
    empty-cells: show;
}

th {
    background-color: #E8EEF7;
    border: 1px solid #C3D9FF;
}

td {
    border: 1px solid #C3D9FF;
}

div.contents, div.testmethod {
    margin-bottom: 40px;
}

.scenarios td {
    padding: 0 20px;
    text-align: center;
}

.scenarios, .scenario {
    margin-bottom: 20px;
}

.scenario {
    background-color: #F5F9FD;
    border: 1px solid #C3D9FF;
    padding: 0 10px;
}

h2 {
    margin-top: 10px;
}

pre {
    margin-bottom: 32px;
}

div.example {
    margin-bottom: 64px;
}

.hide {
    display: none;
}

.logKey {
    cursor: pointer;
}

.logKey:hover {
    text-decoration: underline;
}

.interestingGivens th {
    text-align: left;
}

.interestingGivens td {
    text-align: right;
    padding: 0 5px;
    vertical-align: middle;
}

.logValue {
    white-space: pre-wrap;
    margin-bottom: 32px;
}

.package-name {
    cursor: pointer;
}

.package-name:hover {
    text-decoration: underline;
}

dt {
    font-weight: bold;
    margin: 0px;
    padding: 2px;
}

dd {
    font-weight: normal;
    margin-top:  0px;
    margin-bottom:  1px;
    margin-left:  20px;
    margin-right:  0px;
    padding: 2px;
    padding-right: 0px;
}

dl {
    margin: 0px;
}
dl.index-result {
    padding: 10px;
}
.index-result dt {
    margin-bottom: 5px;
}
.index-result dd {
    margin-left: 0px;
    margin-right: 5px;
}

.section div {
    width:100%;
}
.section .section-header {
    padding: 2px;
    cursor: pointer;
}

.section .section-body {
    display: block;
    padding : 5px;
}

.collapsible {
    margin: 5px 0;
}

.collapsible span {
    cursor: help;
    font-size: 14px;
}

.collapsible pre {
    display: none;
    margin: 10px;
}

